.page {
    background-color: #000000;
    margin: auto;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}