.profile__button-edit {
    height: 24px;
    width: 24px;
    margin-left: 18px;
    margin-top: 14px;
    border: 1px solid #ffffff;
    background-image: url(../../../images/Vectoredit.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.profile__button-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__button-edit {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        margin-top: 8px;
        background-size: 7px 7px;
    }
}