.profile__button-edit {
    background-image: url(../../../images/Edit\ Button.svg);
    height: 24px;
    width: 24px;
    border: 1px solid #ffffff;
    background-position: center;
    background-color: transparent;
    margin: 15px 0 34px 18px;
}