.header {
    min-height: 74px;
    display: flex;
    align-items: flex-start;
    padding-top: 45px;
    border-bottom: 1px solid rgb(84 84 84 / 70%);
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 100%;
        min-height: 56px;
        padding-top: 28px;
        padding-left: calc((100% - 282px) / 2);
    }
}