.pop-up__close {
    position: absolute;
    right: -40px;
    top: -40px;
    background-image: url(../../../images/Close\ Icon.svg);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pop-up__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .pop-up__close {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
    }
}