.profile__button-add {
    height: 50px;
    width: 150px;
    margin: auto;
    margin-right: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-image: url(../../../images/profile-add.svg);
    background-position: center;
    background-repeat: no-repeat;
    justify-self: flex-end;
}

.profile__button-add:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__button-add {
        height: 50px;
        width: 282px;
        margin-top: 33px;
        background-size: 16px 16px;
    }
}